package {{.Package}};

import javax.persistence.*;
import java.lang.String;
import java.util.List;

@Entity
{{.IDClass}}
public class {{.TableName | ToTitle}} {
     {{range $element := .IDFields}}
     @Id
     @Column(name = "{{$element | ToLower}}")
     private String {{$element}};

     public String get{{$element | ToTitle}}() {
          return {{$element}};
     }
     public void set{{$element | ToTitle}}(String value) {
          this.{{$element}} = value;
     }{{end}}
     {{range $element := .Array}}
     @Column(name = "{{$element | ToLower}}")
     private String {{$element}};

     public String get{{$element | ToTitle}}() {
         return {{$element}};
     }

     public void set{{$element | ToTitle}}(String value) {
         this.{{$element}} = value;
     }{{end}}
     {{range $index := .TableRef}}
     @OneToMany(fetch = FetchType.EAGER, cascade = CascadeType.ALL, orphanRemoval = true)
         @JoinColumns({
           {{range $element := $index.JoinColumns}}@JoinColumn(name = "{{$element.Col}}", referencedColumnName = "{{$element.ReferencedCol}}"),
           {{end}}
           })
     private List<{{$index.Name | ToTitle}}> {{$index.Name | ToLower}}s;
     {{end}}

     public {{.TableName | ToTitle}}() {
     }
}
