package {{.Package}};

import javax.persistence.*;
import java.lang.String;

@Entity
{{.IDClass}}
public class {{.TableName | ToTitle}} { {{range $element := .IDFields}}
     @Id
     @Column(name = "{{$element | ToLower}}")
     private String {{$element}};

     public String get{{$element | ToTitle}}() {
          return {{$element}};
     }

     public void set{{$element | ToTitle}}(String value) {
          this.{{$element}} = value;
     }{{end}}
     {{range $element := .Array}}
     @Column(name = "{{$element | ToLower}}")
     private String {{$element}};

     public String get{{$element | ToTitle}}() {
         return {{$element}};
     }

     public void set{{$element | ToTitle}}(String value) {
         this.{{$element}} = value;
     }{{end}}

     public {{.TableName | ToTitle}}() {
     }
}
