package {{.Package}};

import java.io.Serializable;
import java.util.Objects;

public class {{.PKName | ToTitle}} implements Serializable {
    {{range $element := .Array}}
     private String {{$element}};

     public String get{{$element | ToTitle}}() {
        return {{$element}};
     }

     public void set{{$element | ToTitle}}(String value) {
        this.{{$element}} = value;
     }
    {{end}}
     public {{.PKName | ToTitle}}() {
     }

     @Override
     public boolean equals(Object o) {
        if (this == o) return true;
        if (o == null || getClass() != o.getClass()) return false;
        {{.PKName | ToTitle}} pk = ({{.PKName | ToTitle}}) o;
        {{range $element := .Array}}
        if (!(Objects.equals(get{{$element | ToTitle}}(), pk.get{{$element | ToTitle}}()))) {
            return false;
        }{{end}}
        return true;
     }

    @Override
     public int hashCode() {
        return Objects.hash({{.AllGet}});
     }
}